#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_3 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_5 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_6 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_9 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-menyy_nupp {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-046faeaf-0306-43a8-bbfd-64e98772cbfa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}