#s-50cd970e-8934-42be-8acf-982ab0d3bb54 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50cd970e-8934-42be-8acf-982ab0d3bb54 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50cd970e-8934-42be-8acf-982ab0d3bb54 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50cd970e-8934-42be-8acf-982ab0d3bb54 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50cd970e-8934-42be-8acf-982ab0d3bb54 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50cd970e-8934-42be-8acf-982ab0d3bb54 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50cd970e-8934-42be-8acf-982ab0d3bb54 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-50cd970e-8934-42be-8acf-982ab0d3bb54 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-50cd970e-8934-42be-8acf-982ab0d3bb54 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}