#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_116 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_28 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_31 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_117 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_64 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_60 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_34 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_62 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_35 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_118 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_111 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_36 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_39 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_38 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_66 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_112 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_33 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_119 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_75 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_74 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_43 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_52 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_89 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_60 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_102 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_46 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_59 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_101 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_40 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_91 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_61 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_42 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_86 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_51 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_88 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_47 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_92 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_94 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_100 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_54 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_97 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_55 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_98 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_56 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_99 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_57 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_53 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_95 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_58 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_113 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_106 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_107 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_62 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_108 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_63 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_109 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_64 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_110 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_65 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_67 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_115 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_37 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_68 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_69 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_70 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_114 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_37 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Line_2 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Button_45 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7bb9e722-a6a8-49da-a748-a8a90222b212 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}