#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #651296;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #651296;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #651296;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #651296;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FF0000;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #651296;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #651296;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #651296;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #651296;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  stroke-width: 2px;
  stroke: #651296;
  -ms-transform: rotate(309.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  stroke-width: 2px;
  stroke: #651296;
  -ms-transform: rotate(309.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  stroke-width: 2px;
  stroke: #651296;
  -ms-transform: rotate(241.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  stroke-width: 2px;
  stroke: #651296;
  -ms-transform: rotate(241.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 105px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_3 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_3 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 62px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 62px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 91px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_4 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_4 {
  stroke-width: 2px;
  stroke: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 62px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 62px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 91px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}